apiVersion: apps/v1
kind: Deployment
metadata:
  name: go-deployment
  labels:
    app: go-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: go-deployment
  template:
    metadata:
      labels:
        app: go-deployment
    spec:
      containers:
        - name: go-deployment
          image: ghcr.io/punsvikcloud/godeployment:main
          ports:
            - containerPort: 8080
