name: Go

on:
  push:
    branches: [ "main" ]

jobs:

  build:
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.23.x'

    - name: Install dependencies
      run: go get .

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test

    - name: Upload Go executable
      uses: actions/upload-artifact@v4
      with:
        name: GoDeployment
        path: GoDeployment
